In [83]:
import psycopg2
from pgcopy import CopyManager
import pandas as pd
import sqlalchemy
from datetime import datetime

In [84]:
#Connection test
conn_str = "dbname=tsdb user=tsdbadmin password=d88yw2l8yymw962c host=huyo5i1err.xa55mciuki.tsdb.cloud.timescale.com port=32446 sslmode=require"

# Connect to the database
try:
    conn = psycopg2.connect(conn_str)
    cursor = conn.cursor()
except psycopg2.Error as e:
    print(f"Unable to connect to database: {e}")
    exit(1)

finally:
    cursor.close()
    conn.close()

In [85]:
#Creating hypertables and indexes for better perfomance. No need to run, the tables already exist in the database
#If execute, consider reuploading the data in the next two cells
conn = psycopg2.connect(conn_str)
cursor = conn.cursor()
cursor.execute('''
DROP TABLE IF EXISTS etl.stock_prices;

CREATE TABLE etl.stock_prices (
  timestamp TIMESTAMPTZ NOT NULL,
  symbol TEXT NOT NULL,
  close DOUBLE PRECISION NULL,
  volume DOUBLE PRECISION NULL,
  created_at timestamp
);
SELECT create_hypertable('etl.stock_prices','timestamp');


CREATE INDEX ix_symbol_time_stocks ON etl.stock_prices (symbol, timestamp DESC);

''')

cursor.execute ('''
DROP TABLE IF EXISTS etl.crypto_prices;

CREATE TABLE etl.crypto_prices (
  timestamp TIMESTAMPTZ NOT NULL,
  symbol TEXT NULL,
  high DOUBLE PRECISION NULL,
  low DOUBLE PRECISION NULL,
  close DOUBLE PRECISION NULL,
  volume DOUBLE PRECISION NULL,
  created_at timestamp
);

SELECT create_hypertable('etl.crypto_prices','timestamp');


CREATE INDEX ix_symbol_time_crypto ON etl.crypto_prices (symbol, timestamp DESC);

''')
conn.commit()
cursor.close()
conn.close()

In [86]:
#Uploading stocks data. Creating a new engine to upload data 

symbols = ['bz','es']

for symbol in symbols:
    
    df= pd.read_csv(f"./datasets/{symbol}.csv",index_col=False,)
    df=df[df['close'].isna()==False]
    df['symbol'] = symbol

    df['timestamp'] = pd.to_datetime(df['timestamp'], format='%Y-%m-%d %H:%M:%S')
    df['created_at'] = datetime.now()
    conn_string='postgresql+psycopg2://tsdbadmin:d88yw2l8yymw962c@huyo5i1err.xa55mciuki.tsdb.cloud.timescale.com:32446/tsdb?sslmode=require'
    engine = sqlalchemy.create_engine(conn_string)
    con = engine.connect()
    
    df.to_sql('stock_prices',con,schema = 'etl',if_exists = 'append',index=False)
    
    con.close()

In [87]:
#Uploading crypto data
conn_string='postgresql+psycopg2://tsdbadmin:d88yw2l8yymw962c@huyo5i1err.xa55mciuki.tsdb.cloud.timescale.com:32446/tsdb?sslmode=require'
engine = sqlalchemy.create_engine(conn_string)
con = engine.connect()
df= pd.read_csv("./datasets/trades.csv",index_col=False)
columns=("timestamp","symbol","high","low","close","volume")
df=df[df['symbol'].isna()==False]
df['timestamp'] = pd.to_datetime(df['timestamp'], format='%Y-%m-%d %H:%M:%S')
df['created_at'] = datetime.now()
df.to_sql('crypto_prices',con,schema='etl',if_exists= 'replace',index=False)
con.close()

In [123]:
#Connecting to the database, getting the materialized view for furhter analyses

conn = psycopg2.connect(conn_str)
cursor = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
cursor.execute('SELECT * FROM one_day_candle ORDER BY DATE desc LIMIT 10;')
df=pd.DataFrame(cursor.fetchall())
columns = []
columns+=(column[0] for column in cursor.description)
df.columns=columns
conn.close()
cursor.close()

In [126]:
#Dataframe to start analyzing. This is just a sample of ten rows, the connection is established above to get the data you need.
df

,date,symbol,open,high,low,close,day_volume
0,2023-10-06 00:00:00+00:00,bz,84.57,84.63,84.11,84.20,84.20
1,2023-10-06 00:00:00+00:00,es,4286.00,4292.00,4282.75,4285.50,4285.50
2,2023-10-05 00:00:00+00:00,bz,85.89,86.45,84.07,84.50,84.50
3,2023-10-05 00:00:00+00:00,es,4291.75,4300.50,4266.00,4288.50,4288.50
4,2023-10-04 00:00:00+00:00,bz,91.07,91.13,85.85,86.18,86.18
5,2023-10-04 00:00:00+00:00,es,4265.50,4296.25,4236.25,4290.75,4290.75
6,2023-10-03 00:00:00+00:00,es,4325.50,4332.25,4258.50,4265.25,4265.25
7,2023-10-03 00:00:00+00:00,bz,90.34,91.32,89.58,91.16,91.16
8,2023-10-02 00:00:00+00:00,bz,92.47,93.06,90.45,90.45,90.45
9,2023-10-02 00:00:00+00:00,es,4344.50,4350.75,4299.00,4325.00,4325.00